/* DEFAULT CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkblue: #1f2e35;
  --green: #02897a;
  --lightgray: #f6f6f6;
  --textdark: #173a56;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

body {
  margin-left: 145px;
  margin-right: 145px;
  font-size: 16px;
  font-family: "poppins", sans-serif;
  background-color: var(--darkblue);
  color: white;
}

h1 {
  font-size: 34px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-size: 22px;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
}

/* END OF GLOBAL CSS */

/* START NAVIGATION */

.header {
  width: calc(100% - 0px);
}

#nav-bar {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: var(--darkblue);
  width: 100%;
  height: 80px;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-title {
  display: flex;
}

.logo {
  padding-right: 18px;
}

#nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-list li {
  padding: 10px 18px;
  border-radius: 4px;
  font-size: 16px;
}

#nav-list li:hover {
  font-weight: 900;
}

.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bcd0e5;
  width: 102px;
  height: 43px;
  margin-right: 30px;
  margin-left: 10px;
}

.sign-in:hover {
  background-color: var(--lightgray);
  color: var(--textdark);
  width: 105px;
  height: 45px;
  margin-right: 27px;
  cursor: pointer;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 43px;
  background-color: var(--green);
  margin-right: 10px;
}

.sign-up:hover {
  background-color: var(--lightgray);
  color: var(--textdark);
  width: 114px;
  height: 45px;
  margin-right: 6px;
  cursor: pointer;
}

#theme-logo {
  display: flex;
  align-items: center;
}

.flip-card-inner {
  perspective: 1000px;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: visible;
}

#menu-button {
  display: none;
}

/* END NAVIGATION */

/* START PRESENTATION */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 36.5px;
}

.first-title {
  font-weight: 700;
  font-size: 40px;
}

.first-subtitle {
  font-weight: 400;
  font-size: 18px;
}

.img-container {
  width: 600px;
  height: 555.72px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.container-buttons {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background-color: var(--green);
  margin-right: 35px;
  font-weight: 700;
}

.get-started:hover {
  background-color: var(--lightgray);
  color: var(--textdark);
  width: 178px;
  height: 55px;
  margin-right: 32px;
  margin-top: -2px;
  cursor: pointer;
}

.video {
  display: flex;
  color: var(--green);
  font-weight: 600;
  text-decoration: underline;
}

.video:hover {
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.green-triangle {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

/* ARTICLE-WRAPPER */

.content-section {
  margin-top: 58px;
  flex-direction: column;
  background-image: url(./line-gradient.png);
  background-size: cover;
  width: 100%;
  height: 420px;
  position: absolute;
  margin-left: -145px;
  background-position: center bottom;
}

.content-title {
  margin-top: 150px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 145px;
  margin-right: 145px;
}

.middle-button {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.sign-up-now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 53px;
  border-radius: 4px;
  background-color: var(--green);
  font-size: 16px;
  font-weight: 700;
}

.sign-up-now:hover {
  background-color: var(--lightgray);
  color: var(--textdark);
  width: 178px;
  height: 55px;
  cursor: pointer;
}

/* START ARTICLES */

.first-article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 650px;
}

.description {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.second-article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
  flex-direction: row-reverse;
}

.second-article-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.three-elements {
  display: flex;
  align-items: center;
}

.pillow {
  margin-right: 30px;
}

.third-article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 154px;
}

/* END ARTICLES  */

/* CHAT-SUGGESTIONS */

.chat-experts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 202px;
  margin-top: 32px;
  background-image: url(./line-gradient-rotated.png);
  background-size: cover;
  width: 100%;
  height: 420px;
  position: absolute;
  margin-left: -145px;
}

.chat-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 16px;
}

.chat-subtitle {
  font-weight: 500;
}

.women-chat {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 178px;
}

.men-chat {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 191px;
}

.support-contact {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 53px;
  border-radius: 4px;
  background-color: var(--green);
  font-size: 16px;
  font-weight: 700;
}

.contact:hover {
  background-color: var(--lightgray);
  color: var(--textdark);
  width: 220px;
  height: 55px;
  cursor: pointer;
}

/* CONTENT OPTIONS */

.content-strategies {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 860px;
}

.three-task {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 23px;
}

.window {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  width: 348px;
  height: 359px;
  border-radius: 8px;
  background-color: white;
  color: var(--darkblue);
}

.task-img {
  width: 348px;
}

.window-text {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  row-gap: 15px;
}

h5 {
  font-size: 24px;
  font-weight: 700;
}

#green-task-text {
  color: var(--green);
}

.three-dots {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  gap: 10px;
}

/* PRICE TABLE */

.price-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
  row-gap: 8px;
}

.price-pockets {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 173px;
  gap: 90px;
}

.free,
.standard,
.premium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #22343d;
  width: 322.65px;
  height: 456px;
  border-radius: 8px;
  row-gap: 16px;
}

.standard {
  background-color: var(--green);
  color: white;
}

.free:hover,
.standard:hover,
.premium:hover {
  width: 360px;
  height: 500px;
  margin-top: -22px;
  margin-bottom: -22px;
  margin-left: -18.675px;
  margin-right: -18.675px;
  font-size: larger;
  cursor: pointer;
}

.price-number {
  font-size: 76px;
  font-weight: 700;
  color: var(--green);
}
.price-number-five {
  font-size: 76px;
  font-weight: 700;
  color: white;
}

.green-dollar {
  font-size: 24px;
  font-weight: 700;
  color: var(--green);
}
.white-dollar {
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.per-month {
  color: #afafaf;
}

.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 44px;
  border-radius: 8px;
  background-color: var(--green);
  color: white;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 800;
  margin-top: 10px;
}

.white-order-button {
  background-color: white;
  color: var(--green);
}

/* CLIENTS FORUM */

.client-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 150px;
  row-gap: 8px;
}

.forum-tasks {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.each-forum {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: start;
  margin-top: 50px;
  row-gap: 16px;
  height: 236px;
  width: 327px;
  border-radius: 5px;
  background-color: white;
  color: #737373;
}

.forum-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 28px;
  margin-left: 26px;
  row-gap: 16px;
}

.photo-designer {
  display: flex;
  gap: 16px;
  margin-left: 26px;
}

.designer-name {
  color: var(--green);
  font-size: 16px;
  font-weight: 600;
}

/* LAST SECTION */

.last-section {
  display: flex;
  justify-content: center;
  margin-top: 157px;
}

.bottom-window {
  display: flex;
  justify-content: center;
  text-align: start;
  justify-content: space-between;
  align-items: center;
  height: 345px;
  width: 968px;
  border-radius: 32px;
  background-color: var(--green);
}

.join-text {
  height: 92px;
  width: 510px;
  font-size: 32px;
  font-weight: 600;
  margin-left: 51px;
}

.get-this-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 51px;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: white;
  color: var(--green);
  font-size: 20px;
  font-weight: 600;
}

.get-this-button:hover {
  width: 154px;
  height: 52px;
  margin-left: 49px;
  margin-top: 98px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 150px;
}

.social {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 28px;
}

.resources {
  display: flex;
  row-gap: 8px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 16px;
  font-weight: 400;
}

.footer-subtitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.form {
  display: flex;
  flex-direction: column;
}

form {
  width: 325px;
  height: 48px;
  border-radius: 4px;
  background-color: white;
  margin-top: 34px;
}

.footer-sign-up-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
  width: 131px;
  height: 39px;
  border-radius: 4px;
  background-color: var(--green);
  font-size: 16px;
  font-weight: 700;
}

.footer-sign-up-button:hover {
  background-color: white;
  color: var(--textdark);
  width: 135px;
  height: 42px;
  margin-bottom: -3px;
}

.copyright {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

/* RESPONSIVE */

/* @media screen and (min-width: 1440px) {
  body {
    margin: 0px 560px;
  }
} */

@media screen and (max-width: 1192px) {
  .column-lg {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  body {
    margin-left: 30px;
    margin-right: 30px;
  }
  .header {
    width: calc(100% - 0px);
    gap: 110px;
  }
  .img-container {
    margin-right: -60px;
    max-width: 550px;
    max-height: 508.7px;
  }

  .content-section {
    margin: 0;
  }

  .content-title {
    text-align: center;
  }
}

/* @media screen and (max-width:768px){
    .img-container{
        margin-right: -60px;
        max-width: 550px;
        max-height: 508.7px;
       }
        
}

@media screen and (max-width:580px){
    .column-sm{
        flex-direction: column;
    }
} */

@media screen and (max-width: 440px) {
  .column-xs {
    flex-direction: column;
    text-align: center;
  }

  .column-xs-reverse {
    flex-direction: column-reverse;
  }
}
